<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form method="get" action="/display">
        <input type="text" name="search" placeholder="search">
        <button>submit</button>
    </form>
    {{!-- {{#each user }}
    <li>{{this.username}}</li>
    {{/each}} --}}
    {{user}}
</body>
</html>