<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #faf5f5;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
         .form-container {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 300px;
        }
         input {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
            border: 1px solid #ddd;
            border-radius: 4px;
        }

        .form-container h2 {
            text-align: center;
            color: #333;
        }
        .form-group {
            margin-bottom: 20px;
        }
        button {
            background-color: #3498db;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width: 50%;
            font-size: 16px;
        }

        button:hover {
            background-color: #2980b9;
        }
    </style>
</head>

<body>
    <div class="form-container">
        <h2>Information Form</h2>
    <form method="post" action="/register" enctype="multipart/form-data">
        <input type="text" class="form-group" name="username" placeholder="Enter Your Name "><br><br>
        <input type="text" class="form-group" name="mobile" placeholder="Enter ur mobile number"><br><br>
        <input type="text" class="form-group" name="email" placeholder="Enter Your Email"><br><br>
        <input type="text" class="form-group" name="password" placeholder="Enter Your Password"><br><br>
        <input type="file" class="form-group" name="img" placeholder="Profile Pic"><br><br>
        <button>Submit</button>
    </form>
    </div>
</body>
</html>